# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# EAS (Expo Application Services)
eas-build-*.log

# Native builds
android/
ios/
*.ipa
*.apk
*.aab

# Metro / native
.metro-health-check*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*

# Env files
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# Testing / coverage
coverage/
*.lcov
.nyc_output/

# Caches
.cache/
.temp/
.tmp/
*.tsbuildinfo

# macOS / OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# TypeScript
*.tsbuildinfo
